.btn-yellow-green {
	background-color: #07521b !important;
    color: #fff;
}

#loginPage {
	height: 100vh;
    background: #17a2b8;
}

#loginSheet {
	-webkit-box-shadow: 3px 4px 24px -17px rgba(0,0,0,1);
	-moz-box-shadow: 3px 4px 24px -17px rgba(0,0,0,1);
	box-shadow: 3px 4px 24px -17px rgba(0,0,0,1);
	padding: 30px;
	background: white;
}

#subjectList {
	padding-top: 100px;
	min-height: 100vh;
}

.top-bar{
	background-color: #007bff;
	
}

.top-bar a{
	color: white !important;
}

.top-bar .active, #subjectList .active {
	background-color: #17a2b8;
	color: white;
}

#subjectList .active {
	display: block;
    width: 100%;
}
	
#subjectList a {
	color: gray;
}

.img-fluid {
	width: 200px;
    height: 200px;
    border-radius: 100%;
	
}

.large-modal .modal-content
{
	min-width: 99vw;
}

.large-modal .modal-dialog
{
	margin: 0px;
}

.subject-activities .sub-active
{
	border-radius: 100%;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 3px 14px -7px #212529;
	-moz-box-shadow: 0px 3px 14px -7px #212529;
	box-shadow: 0px 3px 14px -7px #212529;
}

/*.subject-activity:hover{
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: 0px 3px 14px -7px rgb(186, 217, 15);
	-moz-box-shadow: 0px 3px 14px -7px rgb(186, 217, 15);
	box-shadow: 0px 3px 14px -7px rgb(186, 217, 15);
}*/

.subject-activity{
	border-radius: 100%;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#quizzesSection, #activitiesSection, #quizzesResultSection {
	display: none;
}

.hideSubject
{
	display:none;
}

.showSubject
{
	display: inherit;
}

#viewStudentQuizResults .modal-dialog{

	max-width: 100%;
}

.youtubeContainer
{
	width: 99vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999999999999999;
	

}

.closeYouTube
{
	color: white;
	font-size: 1.5vw;
	padding: 15px;
	width: 95%;
	text-align: right;
}

.closeYouTube i
{
	cursor: pointer;
}
.youtubeWarning {
	text-align: center;
	font-size: 1.5vw;
	font-weight: bold;
	color: white;
}
.youtubeContainer iframe {
	display: block;
	margin-top: auto;
	margin: auto;
}

.for-printing-style {
	font-size: 12px;
}